{% extends "base.html" %}
{% block content %}

<section class="hero is-link">
	<div class="hero-body">
		<div class="container has-text-centered">
			<h1 class="title">
				{ section.title }
			</h1>
			<h2 class="subtitle">
				{{ section.extra.author }}
			</h2>
		</div>
	</div>
</section>
<br><br>

{% for index in section.pages %}
<div class="card">
	<div class="card-image">
		<br><br>
		<div class="columns is-centered has-text-centered">
			<figure class="image is-128x128">
				<img src="{{index.extra.image}}">
			</figure>
		</div>
	</div>
	<div class="card-content">
		<div class="content">
			<h1><a href="https://cs.ua.edu/"> The University of Alabama </a></h1>
			<p> {{ index.content | safe }} </p>
		</div>
	</div>
</div>
{% endfor %}

{% endblock content %}
